.cart_items{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:none;
}


.cart_con button:only-child{
    width: 100%;
    border: solid 0.001px silver;
    border-radius: 20px !important;
    margin: 5px;  
    background-color:slategray;
    color:white;
}


