

.marq{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    font-size: 20px;
    font-weight: 900;
}



.con{
    width:100%;
}





























